
<h6 class="fs-6 fw-light name cont-<%= message.user.id %>"> <%= message.user.username %> </h6>

<div class="cont-<%= message.user.id %>" style="color:white">
  <div class="rounded-pill message-box msg-<%= message.user.id %> " >
  <%= message.content %>
  </div>
</div>